<div class="wrapper-container">
  <div class="wraper">
    <span class="bg-animation"></span>
    <div class="form-box login">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          <%= f.label :email, class: "label" %>
          <i class="fa-sharp fa-solid fa-paper-plane"></i>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
          <%= f.label :password, class: "label" %>
          <i class="fa-solid fa-lock"></i>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "remember" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "submit" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="info-text login">
      <h2>Welcome back!</h2>
      <p>It is so good you are back, please login and start using the app</p>
    </div>
  </div>
</div>
