<h1>Here is the Home page for user's posts</h1>

<a href="<%= user_path(@user) %>">
  <button id="back-btn">⬅</button>
</a>
<ul>
  <div class="user-box">
    <%= render partial: 'shared/user_photo', locals: { user: @user } %>
    <%= render partial: 'shared/user_deets', locals: { user: @user } %>
  </div>
  <% @posts.each do |post|%>
    <a href="<%= user_post_path(@user, post) %>">
      <div class="user-post">
        <div class="post">
          <h3>Post <%= raw "#" + post.id.to_s %></h3>
          <p><%= post.text %></p>
          <div class='post-interactions'>
            <span>Comments: <%= post.comments_counter %>,</span>
            <span>Likes: <%= post.likes_counter %></span>
          </div>
        </div>
        <h3>Comments:</h3>
        <% post.recent_comments.each do |comment, index| %>
          <div class="post-comments">
            <span><%= comment.author.name %>:</span>
            <span><%= comment.text %></span>
          </div>
        <% end %>
      </div>
    </a>
  <% end %>
  <a href="<%= new_user_post_path(@user, @post) %>" class='pagination'>
    <button id='pagination'>Create a new post</button>
  </a>
</ul>