<div class="container">
  <a href="<%= user_path(@user) %>">
    <button id="back-btn">:arrow_left:</button>
  </a>
  <h1>Create a New Post</h1>
  <%= form_with model: [@user, @post], local: true do |form| %>
    <div class="field">
      <%= form.label :title, class: "label" %>
      <%= form.text_field :title, class: "input" %>
    </div>    <div class="field">
      <%= form.label :text, class: "label" %>
      <%= form.text_area :text, class: "textarea" %>
    </div>    <div class="actions">
      <%= form.submit 'Create Post', class: "submit-btn" %>
    </div>
  <% end %>
</div>